.App{
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}

.repo{
  margin-top:1rem;
}