.repo{
    width: 100%;
    height: 5rem;
    background-color: rgba(255,255,255,0.05);
    border-radius: 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.repo-name{
    margin-left: 1rem;
}

.repo-name{
    min-width: 15rem;
}

.repo-link{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.repo-action{
    margin-right: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 15rem;
}

.repo-icon{
    padding : 0.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.repo-icon:hover{
    padding: 1rem;
}

.inactive{
    background-color: rgba(255,255,255,0.1);
}

.download{
    background-color: #00adb5;
}

.keepUpdate{
    background-color: #00b561;
}

.update{
    background-color: #005eb5;
}

.build{
    background-color: #8c49b8;
}